<!doctype html> 
<html lang=en> 
    <head> 
        <title>Weblog Geertje den Oudsten</title> 
        <link rel="stylesheet" href="/static/blog.css" type="text/css" /> 
        
        <!--[if lt IE 9]>
        <script
            src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
   </head> 
<body> 
    <div id="wrapper"> 

        <header id="header"> 
            <h1 id="logo">Geertje<br/>den<br/>Oudsten</h1>
            <h1 id="blog-title">in<br/>Parijs</h1>
        </header>
        
        <nav> 
            <ul id="menu"> 
                <li><a href="/" title="Home">Home</a></li> 
            </ul> 
        </nav> 

        <div id="main-page">
            <article>
                <h3>
                    <a href="/blog/first">First post!</a>
                </h3>

                <div class="published-at">
                    <span class="date">
                        <span class="day">04</span>-<span
                        class="month">08</span>-<span
                        class="year">1985</span>,
                    </span>

                    <span class="time">
                        <span class="hour">14</span>:<span
                        class="minute">34</span>
                    </span>
                </div>

                <div class="content">
                    This is my first post!
                </div>
            </article>
        </div>

    <footer id="footer">
        <p>
            Header photograph by
            <a href="http://www.flickr.com/people/dahlstroms/">Hakan
            Dahlstrom</a> (2008)
            and licensed under
            <a href="http://creativecommons.org/licenses/by/3.0/">Creative
            Commons Attribution 3.0 Unported</a>.
        </p>
        <p>
            Powered by <a href="http://vix.io">vix.io</a>.
        </p>
    </footer> 

    </div> 
</body> 
</html>
