<!doctype html> 
<html lang=en> 
    <head> 
        <meta charset="UTF-8" /> 
        <title>New Document | vix.io</title> 
        <link rel="stylesheet" href="/static/style.css" type="text/css" /> 
        <link rel="stylesheet" type="text/css"
            href="http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/skin.css">
        <script
            src="http://yui.yahooapis.com/2.9.0/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
        <script
            src="http://yui.yahooapis.com/2.9.0/build/element/element-min.js"></script> 
        <script
            src="http://yui.yahooapis.com/2.9.0/build/container/container_core-min.js"></script>
        <script
            src="http://yui.yahooapis.com/2.9.0/build/menu/menu-min.js"></script>
        <script
            src="http://yui.yahooapis.com/2.9.0/build/button/button-min.js"></script>
        
        <script
            src="http://yui.yahooapis.com/2.9.0/build/editor/editor-min.js"></script>
        <script
            type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script type="text/javascript"
            src="/static/js/jquery.ba-dotimeout.min.js"></script>
        <script type="text/javascript"
            src="/static/js/json2.js"></script>
        <script type="text/javascript"
            src="/static/js/underscore-min.js"></script>
        <script type="text/javascript"
            src="/static/js/backbone-min.js"></script>

        <script type="text/javascript"
            src="/static/js/vix.js"></script> 

        <script type="text/javascript"
            src="/static/js/models/document.js"></script> 
        <script type="text/javascript"
            src="/static/js/collections/documents.js"></script> 
        <script type="text/javascript"
            src="/static/js/controllers/documents.js"></script> 
        <script type="text/javascript"
            src="/static/js/views/edit.js"></script> 
        <script type="text/javascript"
            src="/static/js/views/index.js"></script> 
        <script type="text/javascript"
            src="/static/js/views/notice.js"></script> 
        <!--[if lt IE 9]>
        <script
            src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head> 
<body class="yui-skin-sam">
    <div id="wrapper"> 
        <header id="header"> 
            <h1 id="logo">vix</h1>
            <nav> 
                <ul id="menu"> 
                    <!--
                        <li><a href="/new" title="New Document">New</a></li> 
                    !-->
                </ul> 
            </nav> 
        </header> 
        <div id="status-message"></div>
        <div id="main-page">
            <div id="documents-overview"></div>
            <div id="document-form">
            </div>
        </div>
    </div> 
    <footer id="footer">
        Powered by <a href="http://vix.io">Vix.io</a>.
    </footer> 
</body> 
</html>
