<!doctype html> 
<html lang=en> 
    <head> 
        <title>Vix Search</title> 
        <link rel="stylesheet" href="/static/blog.css" type="text/css" /> 
        
        <!--[if lt IE 9]>
        <script
            src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
   </head> 
<body> 
    <div id="wrapper"> 

        <header id="header"> 
            <h1 id="logo">Vix Demo</h1>
        </header>
        
        <nav> 
            <ul id="menu"> 
                <li><a href="/" title="Home">Home</a></li> 
            </ul> 
        </nav> 

        <div id="main-page">
          <h3>Search results</h3>
          <p id="search-stats">
            <span id="search-stats-hits">42</span>
            results for query
            <strong id="search-stats-query">
              What is the ultimate answer to the question of life,
              the universe and everything?
            </strong>.
          <ol id="search-results">
            <li><a href="/en/blog/Brora">Brora</a></li>
          </ol>
        </div>

    <footer id="footer">
        <p>
            Powered by <a href="http://vix.io">vix.io</a>.
        </p>
    </footer> 

    </div> 
</body> 
</html>
