html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 16px;
    background-color: grey;
    height: 100%;
}

header {
    padding: 0 0 0 15px;
    margin-bottom: 4px;
}

header h1 {
    font-size: 45px;
    letter-spacing: 3px;
}

#menu {
    margin: 0 0 15px 0;
    padding: 0;
    padding-left: 25px;
    list-style: none;
}

#menu li {
    display-inline;
}

#menu li:before {
    content: "\00BB  ";
}

div#search-bar {
    padding-left: 20px;
}

#wrapper {
    overflow: auto;
    margin-bottom: 60px;
    width: 745px;
    margin: 0 auto;
    min-height: 100%;
    background-color: #fff;
    border-left: 1px solid #511a8b;
    border-right: 1px solid #511a8b;
}

#main-page {
    padding: 0 60px 60px 35px;
}

h3 {
    font-size: 30px;
    margin: 10px 0 10px 0;
    padding: 0;
}

article .published {
    margin-bottom: 10px;
    color: grey;
}

article h4 {
    margin: 5px 0 5px 0;
}
article h4 a {
    color: #000;
    font-size: 20px;
}

article h3 a:hover {
    color: #511a8b;
    font-size: 30px;
    text-decoration: none;
}

article.single {
    padding: 5px 5px 5px 15px;
}

footer {
    position: relative;
    clear: both;
    height: 60px;
    padding: 25px 0 0 0;
    margin: -80px 0 0 0;
    width: 100%;
    text-align: center;
}

#search-results {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#search-results-navigate {
    list-style-type: none;
    margin: 20px 0 0 0;
    padding: 0;
}

#search-results-navigate li {
    float: left;
    padding: 0 10px 0 0;
}