body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

#logo-bar {
    height: 60px;
    padding: 5px 5px 5px 10px;
    background-color: #000;
    border-bottom: 3px solid grey;
    color: #dfdfdf;
}

#logo {
    font-family: Georgia;
    margin: 5px 0 0 0;
    padding: 0;
    font-size: 42px;
    float: left;
}

#menu {
    font-size: 16px;
}

header ul {
    list-style: none;
    margin: 5px 5px 5px 5px;
    padding: 0;
}

header li {
    display: inline;
}
header li:before {
    content: "\00BB";
    color: grey;
    margin-right: 10px;
    margin-left: 4px;
}

a, a:visited {
    color: #000;
}

a:hover {
    color: grey;
}

#login-form label {
    display: block;
    float: left;
    width: 100px;
}

#document-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

#document-list li:before {
    content: "\00BB  ";
}

#main-page {
    margin: 20px 20px 0 20px;
}

#document-form {
    width: 600px;
}

.document-fields-row, .feed-fields-row {
    font-size: 20px;
    margin-bottom: 15px;
    clear: both;
}

.document-fields-row {
    width: 700px;
}

.document-fields-row label:first-of-type, .feed-fields-row label:first-of-type {
    display: block;
    float: left;
}
.document-fields-row label:first-of-type {
    width: 70px;
}

.feed-fields-row label:first-of-type {
    width: 200px;
}

h3 {
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 20px;
}

h5 {
    font-weight: bold;
    font-size: 15px;
    padding: 0;
    margin: 10px 0 10px 0;
}

.feed-list-for-language-container h4 {
    padding: 5px 0 5px 0;
    margin: 0;
    font-size: 16px;
}

.document-fields-row .input-field, .feed-fields-row .input-field,
        .feed-fields-row select {
    position: relative;
    top: -3px;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 430px;
}

#editor-images {
    clear: both;
}

.editor-image-bar {
    clear: both;
}

.editor-image-preview-box {
    padding: 15px 15px 15px 15px;
    margin: 10px 10px 10px 10px;
    width: 150px;
    background-color: #dfdfdf;
    border: 1px solid black;
    float: left;
}

#editor-images img {
    max-width: 150px;
}

#preview-image-in-dialog {
    max-width: 500px;
}

#editor-images-pagination-links {
    width: 600px;
}

#editor-images-pagination-prev {
    float: left;
}

#editor-images-pagination-next {
    float: right;
}

.disabled {
    color: grey;
}

.editor-caption {
    margin: 0 0 10px 0;
    padding: 0;
}

#toolbar, #description-toolbar {
    width: 602px;
}

#content, #description-content {
    width: 600px;
    height: 300px;
    background-color: #fff;
    border: 1px solid grey;
}

#description-content {
    height: 100px;
    margin-bottom: 15px;
}

button {
    margin-top: 20px;
    padding: 5px 10px;
    font-size: 20px;
}

#status-message {
    padding: 5px 5px 5px 0;
    margin: 20px 5px 5px 0;
}

.status-ok {
    color: green !important;
}

.status-error {
    color: red !important;
}

.error {
    color: red !important;
}

.hide {
    visibility: hidden !important;
    display: none;
}

.invisible {
    visibility: hidden !important;
}

.show {
    visibility: visible !important;
}

footer {
    margin: 20px 20px 0 20px;
    font-size: 12px;
}

#toolbar {
    width: 602px;
}

#image-drop-target {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 20px;
    color: #bbb;
    font-size: 20px;
}

#menu-builder {
    width: 600px;
}
#menu-container {
    padding: 0;
    margin: 0;
    list-style: none;
}

#menu-container ul {
    margin-top: 15px;
    list-style: none;
}

#menu-top-level-drop-zone {
    width: 280px;
    text-align: center;
    margin: 5px 0 18px 0;
    padding: 10px 8px 10px 8px;
    border: 2px dashed #000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.highlight-add-link-el {
    color: green !important;
}

.draggable {
    cursor: move;
}

.dragover {
    background-color: #fff !important;
}

.dragging {
    opacity: 0.4;
}

#add-menu-item {
    font-weight: bold;
    font-size: 20px;
}

.add-item-node {
    list-style: none;
    margin-top: 5px;
    cursor: default;
}

#menu-container li {
    background-color: #dfdfdf;
    width: auto;
    margin: 5px 0 5px 0;
    padding: 8px;
    border: 2px solid #000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

#menu-container .fixed  {
    border: 0;
    background-color: transparent;
}

#datepicker-time-row select {
    margin: 0 10px 0 10px;
}

/* Google Closure */
.goog-inline-block {
    position: relative;
    display: -moz-inline-box; /* Ignored by FF3 and later */
    display: inline-block;
}

/*
 * Pre-IE7 hack. On IE, "display: inline-block" only gives the element
 * layout, but doesn't give it inline behaviour. Subsequently setting display
 * to inline does the trick.
 */
* html .goog-inline-block {
    display: inline;
}

/*
 * IE7-only hack. See previous.
 */
*:first-child+html .goog-inline-block {
    display: inline;
}