<h1 id="page-title">Website-management software</h1>

<div id="leader-text">
  All subscriptions include full access to
  the <strong>website-management software</strong> and
  the <strong>integrated newsletter application</strong>.
  They also include the infrastructure required to host your
  website, managed and supported by the company that developed
  the software.
</div>
  
<div id="content">
  <p>
    All prices are in euros and excluding VAT. The minimum contract
    period is just 30 days, but customers that pay for 12 months in
    advance receive a 10% discount. The limits are per server. You
    can add multiple servers to your subscription to support large
    sites or for additional speed and redundancy. There is no
    initial setup fee.
  </p>
</div>
