<div id="leader-text">
  Vixu.com offers <strong>website-management software</strong>
  and is currently developing a <strong>webshop
    application</strong>. The service is available under a
  subscription model that includes first-class support and
  hosting infrastructure.
</div>

<div id="main-bar">
  <div id="advantages-container">

    <h4>SEO-ready</h4>
    <p>
      Google rankings are primarily based on the relevance of the
      content and the amount of incoming links. Vixu.com also
      provides a solid technical foundation that makes it easier
      for search engines to index your website and helps you to
      optimize your Google ranking.
    </p>

    <h4>Dedicated support</h4>
    <p>
      Vixu.com is a small company and fanatical about customer
      service. The website-management software is designed to be
      straight-forward and easy to use, but in those rare cases
      when you need help Vixu.com is there for you.
    </p>

    <h4>Flexible</h4>
    <p>
      Vixu.com takes pride in retaining customers through
      excellent service instead of administrative trickery. The
      minimum contract period is just 30 days and the service is
      based on <a href="open-source.html">open source technology</a>,
      so there is no vendor lock-in.
    </p>

    <h4>High-performance</h4>
    <p>
      Having a faster website results in a higher
      conversion. Vixu.com uses a combination
      of <a href="infrastructure.html">solid infrastructure</a>,
      a
      high-performance <a href="technology-stack.html">technology
        stack</a> and
      various <a href="performance.html">performance
        enhancements</a> to make your website stand out from the
      competition.
    </p>

    <h4>Reliable</h4>
    <p>
      Vixu.com offers <a href="flexible-servers.html">flexible
        servers</a> that are spun up when your website experiences
      a sudden traffic surge. Customers that require a high
      level of reliability can also deploy extra servers on
      different continents, making a complete outage an
      extremely unlikely event.
    </p>
  </div>

  <div id="teaser-image-container">
    <div class="screenshot-container">
      <img src="images/screenshot-beelden-aan-zee-homepage.png"
           alt="Screenshot Museum Beelden aan Zee homepage"
           title="Museum Beelden aan Zee homepage screenshot"
           width="400"
           height="322"
           id="baz-screenshot" />
      <h5>Website Museum Beelden aan Zee powered by Vixu.com.</h5>
    </div>

    <div class="screenshot-container">
      <img src="images/screenshot-vix-webpage-editor.png"
           alt="Screenshot Vixu.com webpage editor"
           title="Vixu.com website-management software screenshot"
           width="400"
           height="322"
           id="vix-screenshot" />
      <h5>Vixu.com website-management software.</h5>
    </div>
    
  </div>
</div>
