<!DOCTYPE html>
<html lang="nl"> 
  <head>
    <title>Vixu.com: reliable website-management software</title> 
    <link rel="stylesheet" href="http://cdn1.vixu.com/static/style.css" type="text/css" /> 
    <!--[if lt IE 9]>
        <script
           src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31172010-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head> 
  <body> 

    <div id="wrapper">

      <header>

      <div id="header-top-bar">
        <div id="logo-container">
          <h1 id="logo">
            <a href="/">vixu<span>.com</span></a>
          </h1>
        </div>

        <div id="search-form-container">
          <form method="get" action="/nl/search">
            <fieldset id="search-form">
              <label for="search-field">Zoek</label>
              <input id="search-field" name="q" type="text" />
              <button id="search-button">
              </button>
            </fieldset>
          </form>
        </div>

        <div id="language-options">
          <a href="/en">English</a>
        </div>

      </div>

      <div id="header-menu-bar">
            
        <ul id="menu">
          <li><a href="index.html">Home</a></li>
          <li><a href="pricing.html">Pricing</a></li>
          <li><a href="features.html">Features</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>

      </div>

      </header>

      <div id="content-bar">

      </div>

      <footer>
        &copy; 2012, Vixu.com. Alle rechten voorbehouden. Vixu.com is
        een handelsnaam van Net Collective.
      </footer>

    </div>
  </body> 
</html>
