<html>
<body>
<p>
  Geachte heer, mevrouw,<br/>
  Bedankt voor uw aanmelding op onze nieuwsbrief. Klik alstublieft op
  de volgende link om uw aanmelding te bevestigen:
</p>

  <p>
    <a href="http://www.beeldenaanzee.nl/newsletter/confirm?address=fmw@vix.io&code=dca1a2737e00691e1e3e442cb786f685"
       >http://www.beeldenaanzee.nl/newsletter/confirm?address=fmw@vix.io&code=dca1a2737e00691e1e3e442cb786f685</a>
    .
  </p>
  <p>
    Met vriendelijke groet,<br/>
    Museum Beelden aan Zee
  </p>
</body>
</html>
