<div id="content-middle-bar">

  <div id="content-image-bar">
    <div id="image-bar-first-image-container">
      <span class="circle"></span>
      <img src="/static/images/rozenman-1.jpg"
           alt="Beeld Rozenman"
           title="Beeld Rozenman"
           class="image-bar-image" />
    </div>

    <div id="image-bar-second-image-container">
      <span class="circle"></span>
      <img src="/static/images/rozenman-2.jpg"
           alt="Beeld Rozenman"
           title="Beeld Rozenman"
           class="image-bar-image" />
    </div>
  </div>

  <div id="content-bar" class="block">
    Thank you for activating your subscription to our newsletter!
  </div>

  <div id="right-bar">

    <div id="news-block-first" class="block">
      <span class="circle"></span>
 
      <img src="images/rozenman-news-caption-image.jpg"
           alt="Tentoonstelling Rozenman"
           title="Tentoonstelling Rozenman"
           class="news-block-main-image" />
      
      <div class="news-text">
        <strong>Interview Jehoshua Rozenman</strong>
      </div>
    </div>

    <div id="news-block-second" class="block">
      <span class="circle"></span>
      
      <img src="images/museumkaart.jpg"
           alt="Museumkaart"
           title="Museumkaart"
           class="news-block-main-image" />

      <div class="news-text">
        <strong>Museumkaart</strong> vanaf 1 juli 2011
        ook in Beelden aan Zee!
      </div>
    </div>

    <div id="opening-times-block" class="block">
      <h5>Admission</h5>
      <ul>
        <li>Museumcard: free</li>
        <li>Adults: &euro; 9,50</li>
        <li>Children 13-18: &euro; 4,75</li>
        <li>Children < 13: free</li>
      </ul>

      <h5>Opening times</h5>
      <p>Tuesday to Sunday <br />11.00-17.00 hrs</p>
    </div>

  </div>
</div>
